frf.im {
  log /var/www/feeder/shared/log/caddy-access.log
  errors /var/www/feeder/shared/log/caddy-errors.log

  proxy / http://127.0.0.1:3000 {
    fail_timeout 300s
    transparent
    header_upstream X-Forwarded-Ssl on
  }
}
