$data-table-cell-padding-vertical: 5px;
$data-table-cell-padding-horizontal: 10px;

.data-table {
  thead,
  tbody,
  tfoot {
    > tr {
      > th,
      > td {
        border-bottom-width: 1px;
        overflow: auto;
        padding: $data-table-cell-padding-vertical $data-table-cell-padding-horizontal;
      }

      > th.hint:after {
        content: $fa-question;
        font-family: "FontAwesome";
        padding-left: 3px;
        color: silver;
      }
    }
  }

  tbody {
    > tr {
      > td {
        cursor: pointer;
      }

      > td.data-table-row-menu {
        padding: 0;

        > .dropdown > a {
          display: inline-block;
          padding: $data-table-cell-padding-vertical $data-table-cell-padding-horizontal;
        }
      }

      &.selected > td {
        // Bootstrap variable
        background-color: $state-info-bg;
      }
    }
  }

  .min-width {
    width: 1%;
  }
}

.data-table-popover {
  position: absolute;
  display: none;
}
