@import "main/style/defaults";

.Footer {
  line-height: $footer-height;
  width: 100%;
}

.Footer__list {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center
}

.Footer__item {
  display: inline;
}

.Footer__item a {
  color: $text-muted;
  white-space: nowrap;
}

.Footer__item:not(:last-child)::after {
  content: "·";
  margin: 0 .25em;
}
