//= require jquery-ui/core
//= require font-awesome

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'components/data-table';

html,
body,
.container {
  height: 95%;
}

.nowrap {
  white-space: nowrap;
}

.zero {
  color: silver;
}
