<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Feeder</title>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="root"></div>
    <footer class="footer">
      <div class="container">
        <ul class="footer-list">
          <li class="footer-item">
            <a href="https://github.com/dreikanter/feeder">GitHub</a>
          </li>
          <li class="footer-item">
            <a href="https://github.com/dreikanter/feeder/issues">Bug reports</a>
          </li>
          <li class="footer-item">
            <a href="https://freefeed.net/feeder">Freefeed</a>
          </li>
        </ul>
      </div>
    </footer>
    <%= render(partial: 'partials/yandex_metrika') if Rails.env.production? %>
  </body>
</html>
