<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="Imaginary friends automata for Freefeed.net">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-6KY5s6UI5J7SVYuZB4S/CZMyPylqyyNZco376NM2Z8Sb8OxEdp02e1jkKk/wZxIEmjQ6DRCEBhni+gpr9c4tvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/1.2.1/hint.min.css" integrity="sha512-VgCRZpenEX+OZNOBG+yA2TWvWmIwe+gjSe9HmodkkOusP/pCF3zZCvg1RJc4eQ+pEhw9X1fU7ss9HmgzxBMOfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= content_for?(:title) ? yield(:title) : 'Feeder' -%></title>
    <link rel="icon" href="data:,">
    <%# TODO: Extract element styles to proper location %>
    <style>
      .sparkline__item {
        color: lightgray;
        border-bottom: 1px solid lightgray;
        font-family: monospace;
        cursor: default;
      }
      .sparkline__item:hover {
        color: hotpink;
        border-bottom-color: hotpink;
      }
      .feeds-table__sparkline-column {
        white-space: nowrap;
        width: 1%;
      }
    </style>
    <%= render(partial: 'partials/google_analytics') unless Rails.env.production? -%>
  </head>
  <body>
    <div class="container mt-2 mb-4"><%= yield %></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.min.js" integrity="sha512-ewfXo9Gq53e1q1+WDTjaHAGZ8UvCWq0eXONhwDuIoaH8xz2r96uoAYaQCm1oQhnBfRXrvJztNXFsTloJfgbL5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js" integrity="sha512-Ry7z8PQhVrwf9SdyK10ybxE+N2t37u5LdkX5UL5XZiSvBWw0nYzBTNF3hUMFXx+k1oAsxK9JhiPDl7Ue6iGazQ==" crossorigin="anonymous"></script>
  </body>
</html>
